@font-face {
    font-family: 'gorafree';
    src: url("../fonts/gora-free-webfont.woff2") format('woff2'),
         url("../fonts/gora-free-webfont.woff") format('woff');
    font-weight: normal;
    font-style: normal;
}

body {
  font-size: 16px;
  margin: 0;
  width: 100%;
  font-family: 'Open Sans', Helvetica, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  line-height: 1.42;
}

ul {
  margin: 0;
  padding: 0;
}

ul li {
  list-style: none;
}

h2 {
  text-align: center;
  font-size: 49px;
  font-weight: 700;
  text-transform: uppercase;
}

.wrapper {
  width: 100%;
}

.header {
  width: 100%;
  background: #131415;
  position: relative;
  color: #fff;
  margin-bottom: 80px;
}

.container {
  width: 1060px;
  margin: 0 auto;
  /* position: relative; */
  /* height: 100%; */
  background: inherit;
}

.header__container {
  height: 75px;
  position: relative;
}

.logo {
  /* display: inline-block; */
  color: #f89513;
  position: absolute;
  top: 30px;
  left: 0;
  font-family: 'gorafree', Times, serif;
  font-size: 18px;
  text-transform: uppercase;
  text-decoration: none;
  text-align: left;
  letter-spacing: 0.2em;
}

.menu {
  display: inline-block;
  position: absolute;
  top: 25px;
  left: 360px;
  font-weight: 700;
  text-align: center;
  text-transform: uppercase;
}

.menu__title {
  color: white;
  display: inline-block;
}

.menu__item {
  display: inline-block;
  margin-right: 25px;
}

.menu__link {
  display: inline-block;
}

.menu__icon {
  width: 20px;
  height: 20px;
  display: inline-block;
  margin-right: 20px;

}

.menu__icon_main {
  background: url(../img/pulse-icon.png) center center no-repeat;
}

.menu__icon_review {
  background: url(../img/feed-icon.png) center center no-repeat;
}

.menu__icon_service {
  background: url(../img/service-icon.png) center center no-repeat;
}

.contacts {
  /* display: inline-block; */
  color: inherit;
  position: absolute;
  top: 15px;
  right: 0;
  text-align: right;
  font-weight: 700;
}

.contacts__phone {
  color: white;
  font-size: 21px;
  text-decoration: none;
}

.contacts__schedule {
  font-size: 14px;
  text-align: right;
  color: rgba(248, 149, 19, 0.702);
}

.page {
  width: 100%;
  display: inline-block;
  vertical-align: top;
  background: white;
}

/* .page__container {
  background: inherit;
} */

.banner {
  width: 100%;
  height: 625px;
}

.banner__img {
  margin: 0 auto;
  display: block;
}

.features {
  width: 100%;
  position: relative;
  height: 570px;
  color: white;
  background: #131415;
  text-align: center;
  display: inline-block;
}
.features__name {
  font-size: 10.78px;
  text-transform: uppercase;
  font-weight: 700;
}
.features__item {
  display: inline-block;
  width: 195px;
  margin: 20px;
}
.features__sub-list {
  text-align: left;
  display: inherit;
}
.features__sub-item {
  list-style-type: initial;
}
.features__icon {
  background-color: #f89513;
  width: 70px;
  height: 70px;
  border-radius: 50%;
  background-position: center center no-repeat;
  margin: 0 auto;
  display: block;
}
.features__icon-pic {
  margin: 28%;
}
.features__text, .features__sub-list {
  font-size: 18px;
}

/* .news {
  width: 1100px;
  height: 960px;
} */

/* .pagination__item {
  display: inline-block;
  vertical-align: middle;
} */
/* .pagination__link {
  display: inline-block;
  vertical-align: middle;
} */
/* .pagination__list {
  display: inline-block;
  vertical-align: middle;
}
.pagination__display, .pagination__controlls {
  display: inline-block;
  vertical-align: middle;
}
.pagination__item_active .pagination__link:hover {
  color: white;
  background-color: black; /* СМОТРИ ВЕБИНАР КАК СДЕЛАТЬ ЦИФРУ 1 ЧЕРНОЙ 2:08:00 */
} */

/* .sidebar {
  width: 160px;
  display: inline-block;
  vertical-align: top;
} */
