@font-face {
    font-family: 'gorafree';
    src: url("../fonts/gora-free-webfont.woff2") format('woff2'),
         url("../fonts/gora-free-webfont.woff") format('woff');
    font-weight: normal;
    font-style: normal;
}

body {
  font-size: 16px;
  margin: 0;
  width: 100%;
  font-family: 'Open Sans', Helvetica, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  line-height: 1.42;
}

ul {
  margin: 0;
  padding: 0;
}

ul li {
  list-style: none;
}

h2 {
  text-align: center;
  font-size: 49px;
  font-weight: 700;
  text-transform: uppercase;
}

.wrapper {
  overflow: hidden;
  min-width: 1100px;
}

.header {
  width: 100%;
  background: #131415;
  position: relative;
  color: #fff;
  margin-bottom: 80px;
}

.container {
  width: 1060px;
  margin: 0 auto;
  /* position: relative; */
  /* height: 100%; */
  background: inherit;
}

.header__container {
  height: 75px;
  position: relative;
}

.logo {
  color: #f89513;
  position: absolute;
  top: 30px;
  left: 0;
  font-family: 'gorafree', Times, serif;
  font-size: 18px;
  text-transform: uppercase;
  text-decoration: none;
  text-align: left;
  letter-spacing: 0.2em;
}

.menu {
  display: inline-block;
  position: absolute;
  top: 25px;
  left: 360px;
  font-weight: 700;
  text-align: center;
  text-transform: uppercase;
}

.menu__title {
  color: white;
  display: inline-block;
}

.menu__item {
  display: inline-block;
  margin-right: 25px;
}
.menu__item:last-child {
  margin: 0;
}

.menu__link {
  display: inline-block;
}

.menu__icon {
  width: 20px;
  height: 20px;
  display: inline-block;
  margin-right: 20px;

}

.menu__icon_main {
  background: url(../img/pulse-icon.png) center center no-repeat;
}

.menu__icon_review {
  background: url(../img/feed-icon.png) center center no-repeat;
}

.menu__icon_service {
  background: url(../img/service-icon.png) center center no-repeat;
}

.contacts {
  /* display: inline-block; */
  color: inherit;
  position: absolute;
  top: 15px;
  right: 0;
  text-align: right;
  font-weight: 700;
}

.contacts__phone {
  color: white;
  font-size: 21px;
  text-decoration: none;
}

.contacts__schedule {
  font-size: 14px;
  text-align: right;
  color: rgba(248, 149, 19, 0.702);
}

.page {
  width: 100%;
  display: inline-block;
  vertical-align: top;
  background: white;
}

.banner {
  width: 100%;
  margin-bottom: 60px;
}

.banner__img {
  margin: 0 auto;
  display: block;
}

.features {
  width: 100%;
  position: relative;
  height: 570px;
  color: white;
  background: #131415;
  text-align: center;
  display: inline-block;
}
.features__name {
  font-size: 10.78px;
  text-transform: uppercase;
  font-weight: 700;
  margin-top: 40px;
}
.features__item {
  display: inline-block;
  width: 195px;
  margin: 20px;
}
.features__sub-list {
  text-align: left;
  display: inherit;
}
.features__sub-item {
  list-style-type: initial;
}
.features__icon {
  background-color: #f89513;
  width: 70px;
  height: 70px;
  border-radius: 50%;
  background-position: center center no-repeat;
  margin: 0 auto;
  display: block;
}
.features__icon-pic {
  margin: 28%;
}
.features__text, .features__sub-list {
  font-size: 18px;
  margin: 0 auto;
}

/* .news {
  width: 875px;
  height: 820px;
  position: relative;
  display: inherit;
  text-align: left;
  margin-left: 20px;
  float: left;
} */
.news__container {
  /* display: inline-block; */
  width: 1060px;
  margin: 0 auto;
}
.news__list {
  float: left;
}

.news__avatar {
  width: 160px;
  height: 160px;
  display: list-item;
  text-align: left;
  float: left;
}

.news__avatar-pic {
  border-radius: 50%;
}

.news__item {
  /* margin-bottom: 65px; */
  padding-bottom: 75px;
  border-bottom: 2px solid #f5f5f5;
}
.news__item:last-child {
  border: none;
}

.news__content {
  margin-left: 190px;
  width: 690px
}

.news__title {
  margin-bottom: 80px;
}

.news__date {
  font-size: 14px;
  opacity: 0.5;
}

.news__name {
  font-size: 16px;
  margin: 0 auto;
}

.news__text {
  margin: 1;
}

/* .pagination 350*45 */

.pagination {
  position: relative;
  display: block;
  text-align: center;
  vertical-align: middle;
  margin: 70px;
  clear: both;
}

.pagination__display {
  display: inline-block;
  color: #656464;
  font-family: "Roboto";
  font-size: 14px;
  margin-right: 20px;
}

.pagination__controlls {
  display: inline-block;
}

.pagination__item {
  display: inline-block;
  vertical-align: middle;
  margin-right: 20px;
}
.pagination__link {
  color: #221f1f;
  font-family: "Roboto";
  font-weight: bold;
  font-size: 14px;
  text-decoration: none;
}
.pagination__list {
  display: inline-block;
  vertical-align: middle;
  margin-bottom: 5px;
}

.pagination__display, .pagination__controlls {
  display: inline-block;
  vertical-align: middle;
}
.pagination__link_active {
  background-color: #27273e;
  padding: 4px 8px;
  border: 1px solid #27273e;
  border-radius: 3px;
  color: #fff;
}
.pagination__link:hover {
  color: #f89513;
}
.pagination__prev {
  text-decoration: none;
  color: #656464;
  font-family: "Roboto";
  margin-right: 20px;
}
.pagination__next {
  text-decoration: none;
  font-family: "Roboto";
  font-weight: bold;
  color: #221f1f;
}


.sidebar {
  text-align: left;
  /* margin: 190px 20px; */
  color: #000;
  line-height: 0;
  float: left;
}

.side__list {
  list-style-type: none;
}

.side__item {
  margin: 20px 0;
}

.side__name {
  color: #221f1f;
  font-size: 12px;
  text-transform: uppercase;
  font-weight: 700;
}

.side__desc {
  color: #221f1f;
  font-size: 12px;
  text-transform: uppercase;
  color: #656464;
  text-decoration: none;
  font-weight: 700;
}

.footer {
  width: 100%;
  background: #131415;
  position: relative;
  color: #fff;
}

.footer__container {
  height: 75px;
  position: relative;
}

.ps {
  width: 240px;
  height: 50px;
  font-size: 14px;
}
.ps__text {
  text-align: left;
  display: inline-block;
  margin-top: 7px;
}
.ps__text-ls {
  color: white;
  font-weight: 700;
}
.ps__text-author {
  font-weight: 700;
  color: white;
}

.footer__logo {
  color: #f89513;
  position: absolute;
  top: 30px;
  left: 450px;
  font-family: 'gorafree', Times, serif;
  font-size: 18px;
  text-transform: uppercase;
  text-decoration: none;
  text-align: center;
  letter-spacing: 0.2em;
}

.smm {
  width: 100%;
  display: inline-block;
  margin: 20px;
  vertical-align: top;
  position: absolute;
  margin-top: -50px;
  margin-left: 890px;
}
.smm__text {
  font-size: 14px;
  font-weight: bold;
  margin-bottom: 8px;
}
.social__item {
  content: "";
  font-size: 14px;
  width: 10px;
  height: 10px;
  padding: 2px 4px;
  border: 1px solid #d0d0d0;
  border-radius: 100%;
  background-color: #d0d0d0;
  background-repeat: no-repeat;
  background-position: center center;
  display: inline-block;
  margin-right: 5px;
}
.social__link {
  display: block;
  width: 10px;
  height: 10px;
}
.social__item:hover {
  background-color: #f89513;
  border: 1px solid #f89513;
}
.social__link_vk {
  background: url(../img/vk.png) center center no-repeat;
}
.social__link_fb {
  background: url(../img/facebook.png) center center no-repeat;
}
.social__link_gg {
  background: url(../img/google.png) center center no-repeat;
}
.social__link_tw {
  background: url(../img/twitter.png) center center no-repeat;
}
.social__link_ml {
  background: url(../img/mail.png) center center no-repeat;
}
