.contacts {
  display: flex;
  color: inherit;
  flex-flow: column nowrap;
  justify-content: center;
  align-items: flex-end;
  align-content: flex-end;
  font-weight: 700;
}

.contacts__phone {
  color: white;
  font-size: 21px;
  text-decoration: none;
}

.contacts__schedule {
  font-size: 14px;
  color: rgba(248, 149, 19, 0.702);
}
