.features {
  width: 100%;
  /* position: relative; */
  height: 570px;
  color: white;
  background: #131415;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}
.features__name {
  font-size: 10.78px;
  text-transform: uppercase;
  font-weight: 700;
}
.features__list {
  display: flex;
}
.features__item {
  text-align: center;
  width: 195px;
  margin: 20px;
}
.features__sub-list {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: flex-start;

}
.features__sub-item {
  list-style-type: initial;
}
.features__icon {
  background-color: #f89513;
  width: 70px;
  height: 70px;
  border-radius: 50%;
  background-position: center center no-repeat;
  margin: 0 auto;
  /* display: block; */
}
.features__icon-pic {
  margin: 28%;
}
.features__text, .features__sub-list {
  font-size: 18px;
  margin: 0 auto;
}
