.features {
  display: flex;
  flex-flow: column wrap;
  align-items: center;
  justify-content: center;
  color: #221f1f;
  width: 100%;
  border: 1px solid #221f1f;
  position: relative;
  margin-top: 20px;
}

.features__title{
  color: #221f1f;
  font-size: 18px;
  letter-spacing: 0.5px;
  margin-bottom: 0;
}

.features__list {
  display: flex;
  text-align: center;
  justify-content: center;
  width: 90%;
}

.features__item {
  display: flex;
  flex-flow: column;
  align-items: center;
  justify-content: center;
  line-height: 1.8em;
  letter-spacing: 1px;
}

.features__text-title{
  letter-spacing: 0.2em;
  font-weight: bold;
  font-size: 11px;
  text-transform: uppercase;
  margin: 0;
}

.features__text-desc {
  font-size: 18px;
}

.features__text-list {
  margin-left: 26px;
}

.features__text-item {
  list-style: disc;
  text-align: start;
  letter-spacing: 0.1em;
}
