.footer {
  width: 100%;
  background: #131415;
  position: relative;
  color: #fff;
  margin-top: 47px;
}

.footer_services {
  margin-top: 19px;
}

.footer_reviews {
  margin-top: 53px;
}

.footer__container {
  width: 1160px;
  min-height: 75px;
  position: relative;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}
