.header {
  width: 100%;
  background: #131415;
  position: relative;
  color: #fff;
}

.header__container {
  height: 75px;
  position: relative;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}
