.info {
  width: 100%;
  min-height: 435px;
  color: white;
  background: url(../../img/rev-back.png);
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  margin-top: 70px;
}

.info__content {
  width: 225px;
  min-height: 375px;
  letter-spacing: normal;
  line-height: 1.667;
  padding: 7px;
}

.info__text {
  width: 100%;
  text-align: center;
}

.info__text-phrase {
  color: #f89513;
  text-decoration: none;
  font-weight: 700;
}
