.logo {
  color: #f89513;
  position: absolute;
  top: 30px;
  left: 0;
  font-family: 'gorafree', Times, serif;
  font-size: 18px;
  text-transform: uppercase;
  text-decoration: none;
  text-align: left;
  letter-spacing: 0.2em;
}
