.menu {
  display: flex;
  font-weight: 700;
  text-align: center;
  text-transform: uppercase;
}

.menu__list {
  display: flex;
  flex-flow: row;
  justify-content: space-between;
  align-items: center;
  margin-left: 57px;
}
.menu__item {
  padding-right: 30px;
}
.menu__title {
  color: white;
  font-size: 14px;
}

.menu__item:last-child {
  margin: 0;
}

.menu__link {
  display: flex;
  text-decoration: none;
}

.menu__title:hover {
  color: #f89513;
  transition: 0.5s;
}

.menu__item_active .menu__title {
  color: #f89513;
}

.menu__icon {
  width: 20px;
  min-height: 20px;
  margin-right: 20px;
  position: relative;
}

.menu__icon_main:after {
  content: "";
  display: block;
  position: absolute;
  width: 19px;
  height: 14px;
  background: url('../../img/sprite.png') -5px -33px;
}

.menu__icon_main:hover:after {
  background-position: -34px -33px;
}

.menu__icon_review:after {
  content: "";
  display: block;
  position: absolute;
  width: 20px;
  height: 18px;
  background: url('../../img/sprite.png') -5px -5px;
}

.menu__icon_review:hover:after {
  background-position: -35px -5px;
}

.menu__icon_service:after {
  content: "";
  display: block;
  position: absolute;
  width: 19px;
  height: 14px;
  background: url('../../img/sprite.png') -65px -5px;
}

.menu__icon_service:hover:after {
  background-position: -65px -29px;
}
