.menu {
  width: 100%;
  display: flex;
  font-weight: 700;
  text-transform: uppercase;
  align-items: center;
  justify-content: center;
}

.menu__list {
  display: flex;
  flex-flow: column;
  justify-content: space-between;
  align-items: center;
}
.menu__item {
}
.menu__title {
  color: #221f1f;
  font-size: 14px;
}

.menu__item:last-child {
  margin: 0;
}

.menu__link {
  display: flex;
  text-decoration: none;
}

.menu__title:hover {
  color: #f89513;
  transition: 0.5s;
}

.menu__item_active .menu__title {
  color: #f89513;
}

.menu__icon {
  width: 20px;
  min-height: 20px;
  margin-right: 20px;
  position: relative;
}

.menu__icon_main:after {
  content: "";
  display: block;
  position: absolute;
  width: 20px;
  height: 18px;
  background: url('../../img/sprite.png') -50px -48px;
}

.menu__icon_main:hover:after {
  background-position: -10px -48px;
}

.menu__icon_review:after {
  content: "";
  display: block;
  position: absolute;
  width: 20px;
  height: 18px;
  background: url('../../img/sprite.png') -50px -10px;
}

.menu__icon_review:hover:after {
  background-position: -10px -10px;
}

.menu__icon_service:after {
  content: "";
  display: block;
  position: absolute;
  width: 19px;
  height: 14px;
  background: url('../../img/sprite.png') -90px -44px;
}

.menu__icon_service:hover:after {
  background-position: -90px -10px;
}
