.news__container {
  /* display: inline-block; */
  width: 1060px;
  margin: 0 auto;
}
.news__list {
  float: left;
}

.news__avatar {
  width: 160px;
  height: 160px;
  display: list-item;
  text-align: left;
  float: left;
}

.news__avatar-pic {
  border-radius: 50%;
}

.news__item {
  margin-bottom: 30px;
  padding-bottom: 50px;
  border-bottom: 2px solid #f5f5f5;
}
.news__item:last-child {
  border: none;
}

.news__content {
  margin-left: 190px;
  width: 690px
}

.news__title {
  margin-bottom: 80px;
}

.news__date {
  font-size: 14px;
  opacity: 0.5;
}

.news__name {
  font-size: 16px;
  margin: 0 auto;
}

.news__text {
  margin: 1;
  width: 620px;
}
