.news {
  width: 810px;
}

.news__container {
  width: 100%;
  margin: 0 auto;
  display: flex;
  margin-bottom: 22px;
}

.news__avatar {
  width: 19%;
  min-height: 160px;
  text-align: left;
  float: left;
}

.news__avatar-pic {
  border-radius: 50%;
}

.news__item {
  margin-bottom: 25px;
  padding-bottom: 8px;
  border-bottom: 2px solid #f5f5f5;
}
.news__item:last-child {
  border: none;
}

.news__content {
  margin-left: 180px;
  width: 82%;
}

.news__title {
  margin-bottom: 51px;
  padding: 9px;
  margin-right: 5px;
  letter-spacing: 1.5px;
}

.news__date {
  font-size: 14px;
  color: #656464;
  padding-bottom: 5px;
}

.news__name {
  font-size: 16px;
  margin: 0 auto;
  padding-bottom: 10px;
}

.news__text {
  width: 89%;
  margin-top: 0;
  line-height: 1.59em;
}
