.page {
  width: 100%;
}

.page__container {
  width: 1105px;
  display: flex;
  flex-flow: row nowrap;
  align-items: flex-start;
  justify-content: center;
}

.main {
  width: 840px;
  display: flex;
  align-items: flex-start;
  justify-content: center;
  flex-flow: column;
  margin-left: 25px;
  margin-top: 45px;
}
