.pagination {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
  margin-bottom: 70px;
  clear: both;
}

.pagination__display {
  color: #656464;
  font-family: "Roboto";
  font-size: 14px;
  margin-right: 20px;
}

.pagination__controlls {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

.pagination__item {
  margin-right: 20px;
  flex-direction: row;
}
.pagination__link {
  color: #221f1f;
  font-family: "Roboto";
  font-weight: bold;
  font-size: 14px;
  text-decoration: none;
}
.pagination__list {
  display: flex;
  margin-bottom: 5px;
  flex-direction: row;
}

.pagination__link_active {
  background-color: #27273e;
  padding: 4px 8px;
  border: 1px solid #27273e;
  border-radius: 3px;
  color: #fff;
}
.pagination__link:hover {
  color: #f89513;
}
.pagination__prev {
  text-decoration: none;
  color: #656464;
  font-family: "Roboto";
  margin-right: 20px;
}
.pagination__next {
  text-decoration: none;
  font-family: "Roboto";
  font-weight: bold;
  color: #221f1f;
}
