.ps {
  width: 240px;
  height: 50px;
  font-size: 14px;
}
.ps__text {
  margin-top: 0;
}
.ps__text-ls {
  color: white;
  font-weight: 700;
}
.ps__text-author {
  font-weight: 700;
  color: white;
}
