.ps {
  width: 237px;
  min-height: 50px;
  font-size: 14px;
}
.ps__text {
  width: 100%;
  font-size: 14px;
}
.ps__text-ls {
  color: white;
  font-weight: 700;
}
.ps__text-author {
  font-weight: 700;
  color: white;
}
