.review-form {
  display: flex;
  justify-content: center;
  margin-top: 57px;
}

.review-form__container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 760px;
  min-height: 425px;
  background-color: #f5f5f5;
  color: #221f1f;
  font-size: 14px;
  font-weight: 300;
}

.form__elem {
  width: 73%;
}

.form__title {
  font-size: 49px;
  font-weight: bold;
  margin: 0;
}

.form__row {
  display: flex;
}

.form__row:last-child {
  margin-bottom: 0;
}

.form__block {
  flex: 1;
  margin-right: 20px;
  padding-bottom: 20px;
}

.form__block-title {
  padding-bottom: 10px;
}

.form__block:last-child {
  margin-right: 0;
}

.form__input {
  width: 100%;
  border: 1px solid #fff;
  border-radius: 3px;
  padding: 15px 9px;
  outline: none;
}

.form__input:focus {
  width: 100%;
  border: 1px solid #f89513;
  transition: 0.5s;
}

.form__input::placeholder {
  color: rgba(34, 31, 31, 0.5);
  font-weight: 300;
  font-size: 14px;
}

.form__input--textarea {
  resize: vertical;
  padding: 25px 9px;
}

.form__buttons {
  display: flex;
}

.form__controls-area {
  width: 40%;
}

.form-controlls__title {
  font-weight: 300;
  font-size: 14px;
  margin-bottom: 5px;
}

.form-controlls__buttons {
  display: flex;
}

.form-controlls__btn {
  display: inline-flex;
  align-items: center;
  margin-right: 20px;
  cursor: pointer;
}

.form-controlls__btn:last-child {
  margin-right: 0;
}

.form-controlls__real-radio {
  display: none;
}

.form-controlls__fake-radio {
  width: 20px;
  height: 20px;
  border-radius: 50%;
  border: 1px solid #c9c9c9;
  background-image: linear-gradient(to top, #ededed, #ffffff);
  position: relative;
  margin-right: 10px;
}

.form-controlls__real-radio:checked~.form-controlls__fake-radio:after {
  width: 8px;
  height: 8px;
}

.form-controlls__real-radio:checked~.form-controlls__fake-radio {
  border-color: #f89513;
}

.form-controlls__real-radio:checked~.form-controlls__btn-title {
  color: #f89513;
}

.form-controlls__fake-radio:after {
  content: "";
  width: 0px;
  height: 0px;
  border-radius: 50%;
  background: #f89513;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  transition: .3s;
}

.btn {
  padding: 15px;
  border-radius: 3px;
  letter-spacing: 2.4px;
  color: #fff;
  text-transform: uppercase;
  font-size: 12px;
  background: #1c1f1d;
  cursor: pointer;
}

.form__buttons-area {
  display: flex;
  justify-content: flex-end;
  width: 60%;
}

.btn:hover {
  background-color: #f89513;
  transition: 0.5s;
}
