.services__container {
  width: 880px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
	justify-content: space-between;
	align-items: stretch;
  align-content: stretch;
}


.services__item {
  width: 252px;
  font-size: 14px;
  line-height: 1.167;
}
