.services {
  width: 880px;
  margin-top: 41px;
}

.services__list {
  display: flex;
  flex-wrap: wrap;
}

.services__item {
  font-size: 14px;
  flex: 1 0 270px;
  margin-bottom: 40px;
}

.services__text {
  width: 255px;
  line-height: 1.5em;
  margin: 0;
  font-weight: 300;
  font-size: 14px;
}

.services__title {
  display: flex;
  margin: 0px;
  margin-top: 6px;
  margin-bottom: 34px;
}

.services__name {
  margin: 0;
  margin-top: 20px;
  font-size: 18px;
  padding-bottom: 2px;
}
