.sideblock {
  width: 275px;
  letter-spacing: 1.2px;
  margin-top: 26px;
}

.sideblock_reviews {
  margin-top: 32px;
}

.sideblock_services {
  margin-top: 49px;
}

.sideblock__container {
  width: 100%;
  display: flex;
  flex-flow: column;
  align-items: center;
  justify-content: center;
}
