.side {
  display: flex;
  flex-flow: column;
  justify-content: center;
  align-items: flex-start;
  letter-spacing: 0.17em;
  margin-top: 50px;
}

.side__top {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 150px;
  min-height: 35px;
  line-height: 5px;
  margin-left: 7px;
}

.side__list {
  list-style-type: none;
  display: flex;
    flex-flow: column;
    align-items: center;
    justify-content: center;
}

.side__item {
  margin: 18px 0;
}

.side__name {
  color: #221f1f;
  font-size: 12px;
  text-transform: uppercase;
  font-weight: 700;
}

.side__desc {
  color: #221f1f;
  font-size: 12px;
  text-transform: uppercase;
  color: #656464;
  text-decoration: none;
  font-weight: 700;
  margin: 0;
}

.side__pic-img {
  width: 160px;
  min-height: 120px;
  filter: opacity(80%);
}
