.smm {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  width: 180px;
  height: 50px;
  margin-bottom: 15px;
}

.smm__text {
  font-size: 14px;
  font-weight: bold;
}

.social__item {
  content: "";
  font-size: 14px;
  width: 20px;
  height: 20px;
  padding: 2px 1px;
  border: 1px solid #d0d0d0;
  border-radius: 100%;
  background-color: #d0d0d0;
  background-repeat: no-repeat;
  background-position: center center;
  margin-right: 5px;
}
.social__list {
  display: flex;
  flex-direction: row;
}
.social__link {
  display: block;
  width: 15px;
  height: 15px;
}

.social__item:hover {
  background-color: #f89513;
  border: 1px solid #f89513;
}

.social__link_vk {
  background: url(../../img/vk.png) center center no-repeat;
}

.social__link_fb {
  background: url(../../img/facebook.png) center center no-repeat;
}

.social__link_gg {
  background: url(../../img/google.png) center center no-repeat;
}

.social__link_tw {
  background: url(../../img/twitter.png) center center no-repeat;
}

.social__link_ml {
  background: url(../../img/mail.png) center center no-repeat;
}
