ul {
  padding: 0;
}

.smm {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-height: 50px;
  letter-spacing: 0px;
  margin-top: 40px;
}

.smm__text {
  font-size: 14px;
  font-weight: bold;
  margin: 0;
}

.social__item {
  content: "";
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  font-size: 14px;
  width: 20px;
  height: 20px;
  padding: 2px 1px;
  border: 1px solid white;
  border-radius: 100%;
  background-color: white;
  background-repeat: no-repeat;
  background-position: center center;
  margin: 4px;
  margin-top: 0px;
}
.social__list {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}
.social__link {
  display: block;
  width: 15px;
  height: 15px;
}

.social__item:hover {
  background-color: #f89513;
  border: 1px solid #f89513;
  transition: 0.5s;
}

.social__link_vk {
  background: url(../../img/vk.png) center center no-repeat;
}

.social__link_fb {
  background: url(../../img/facebook.png) center center no-repeat;
}

.social__link_gg {
  background: url(../../img/google.png) center center no-repeat;
}

.social__link_tw {
  background: url(../../img/twitter.png) center center no-repeat;
}

.social__link_ml {
  background: url(../../img/mail.png) center center no-repeat;
}
